$body: rgb(240, 240, 240);
$text: rgb(87, 87, 87);
$done: rgb(202, 248, 167);
$alert: rgb(243, 200, 200);
$info: rgb(194, 217, 255);

html {
  background-color: $body;
  color: $text;
  font-family: sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 10px;
  margin: 10px;
  padding: 10px;

}
::-webkit-scrollbar-track {
  // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgb(221, 221, 221);
  border-radius: 50px;
}



ul {
  list-style-type: none;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
}
h1 {
  width: 100%;
  text-align: center;
  flex-grow: 2;
  margin: 50px 0;
}
section {
  width: 100%;
  display: flex;
  // flex-shrink: 1;
  padding: 20px;
  
}
ul {
  width: 100%;
  margin: 15px;
  display: flex;
  flex-direction: column;
  // border: 2px solid $text;
  max-height: 600px;
  padding: 15px;
  border-radius: 10px;
  border: 3px dotted transparent;
  overflow-y: auto;
  transition: all .3s linear;
  box-shadow: 
          -10px -10px 10px rgba(white, .5),
          -15px -15px 20px rgba(white, .2),
           15px 15px 20px rgba($text, .05),
           10px 10px 10px rgba($text, .1);
  &.drag {
    border-color: $alert;
  }
}
li {
  display: flex;
  flex-direction: column;
  margin: 15px;
  padding: 15px;
  border-radius: 10px;
  color: $text;
  background: lighten($body, 3);
  transition: all .3s linear;
  box-shadow: 
          -5px -5px 8px rgba(white, 1),
          -8px -8px 12px rgba(white, .5),
           8px 8px 12px rgba($text, .05),
           5px 5px 8px rgba($text, .1);
  cursor: grab;
  &.hide {
    transition: all .2s linear;
    // opacity: .5;
    background:  $alert;
    transform: scale(.95);
  }
  &:hover {
    background: lighten($body, 5);
  }
  h2 {
    padding-bottom: 10px;
  }
  p {
    line-height: 1.4rem;
  }
}
.btns {
  display: flex;
  justify-content: space-between;
  padding: 15px 0 5px;
  button {
    padding: 12px 20px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    color: $text;
    transition: all .3s ease-in-out;
    cursor: pointer;
    &.process {
      background: $info;
    }
    &.info {
      background: darken($body, 3);
    }
    &.done {
      background: $done;
    }
    &.delete {
      background: $alert;
    }
    &:hover {
      box-shadow: 0 5px 8px rgba($text, .2);
    }
    // &:nth-of-type(1) {
    //   box-shadow: 
    //     inset 1px 1px 3px rgba($text,.4),
    //     inset 3px 3px 5px rgba($text,.2),
    //     inset -1px -1px 3px rgba(white, .6),
    //     inset -3px -3px 5px rgba(white, .3);
    // }
  }
}

.arena.drag {
  border: 2px dotted white;
}

#dragarena {
  width: 100%;
  display: flex;
  // border: 1px solid black;
}
.arena{
  width: 500px;
  height: 500px;
  padding: 10px;
  margin: 20px;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: all .3s linear;
  span {
    width: 100%;
    height: 55px;
    padding: 5px;
    margin: 5px 0;
    text-align: center;
    background: rgb(57, 77, 27);
    color: rgb(161, 104, 202);
    transition: all .3s linear;
    cursor: grab;
  }
}